@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/gilroy');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Gilroy', sans-serif;
                                                
}
.div-item-center{
 @apply flex justify-center items-center
}


.beforeDot::before {
    content: '.';
    font-size: 60px;
    display: inline-block;
    margin-right: 0.25rem; 
      position: relative;
      margin-top: 20px;
  }